.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content{
    display: flex;
    margin: 20px;
}
.table_content{
    display: flex;
    flex-direction: column;
}
.bar_container{
    margin-inline: 20px;
}
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212; 
  opacity: 0.8;
}